<div class="footer">
  <a class="footer-nav" href="/ootd/about">ABOUT OOTD</a>
  <a class="footer-nav" href="/ootd/contact">CONTACT US</a>
  <a href="#"><img class="footer-img" src="" alt="instagram"></a>
  <a href="#"><img class="footer-img" src="" alt="facebook"></a>
  <a href="#"><img class="fotter-img" src="" alt="email"></a>
</div>
