<div class="footer">
  <a class="footer-nav" href="/ootd/about">ABOUT OOTD</a>
  <a class="footer-nav" href="/ootd/contact">CONTACT US</a>
  <a href="#"><img class="footer-img" src="http://www.sccpre.cat/png/big/16/167173_instagram-logo-png.png" alt="instagram"></a>
  <a href="#"><img class="footer-img" src="https://iconsplace.com/wp-content/uploads/_icons/ffffff/256/png/facebook-icon-18-256.png" alt="facebook"></a>
  <a href="#"><img class="footer-img" src="http://chittagongit.com/download/34886" alt="email"></a>
</div>
