<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Meddon|Playfair+Display" rel="stylesheet">
<link rel="stylesheet" href="/app.css">
<title>OOTD</title>
<div class="header">
  <h1 class="logo">OOTD<span style="font-family:'Meddon';font-size:30px">Inspo</span></h1>
  <div class="navigation">
  <a class="nav-item" href="/ootd/fall">FALL</a>
  <a class="nav-item" href="/ootd/winter">WINTER</a>
  <a class="nav-item" href="/ootd/spring">SPRING</a>
  <a class="nav-item" href="/ootd/summer">SUMMER</a>
   | <a class="nav-item" href="/ootd/">HOME</a>
</div>
</div>
