<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ./partials/header.ejs %>
</head>

<body class="edit-page">

  <div class="welcome">
    <h2>
    <% if (currentUser) { %>
    Hi <%=currentUser.username%>!
  </h2>
    <a class="collect-link" href="/ootd/collection">MY COLLECTION</a>

    <form action="/sessions?_method=DELETE" method="POST">
      <a class="welcome-item" href="#"><input class="navBtn" type="submit" value="LOG OUT"></a>
    </form>
    <%  } %>
  </div>


  <div class="contact">
    <h1>Contact the OOTD Team</h1>
    <h3>Thanks for stopping by! If you have any questions or issues with the OOTD Inspo app, please let us know!</h3>
    <ul>
      <li>Email: support@ootdinspo.com</li>
      <li>User Support: 888-555-3492</li>
    </ul>
  </div>

  <footer>
    <% include ./partials/footer.ejs %>
  </footer>

  <% include ./partials/modal.ejs %>

</body>

</html>
