<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ./partials/routesheader.ejs %>
</head>

<body>

  <div class="content">
    <% for (let i = 0; i < products.length; i++) { %>
    <div class="container">
      <a href="/ootd/<%=products[i].id%>">
        <img class="index-img" src="<%=products[i].img%>" alt="outfit">
      </a>
    </div>
    <% } %>
  </div>
</body>
