<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ./partials/header.ejs %>
</head>

<body>

  <div class="header">
    <h1 class="logo">OOTD<span style="font-family:'Meddon';font-size:30px">Inspo</span></h1>
    <div class="navigation">
    <a class="nav-item" href="/ootd/fall">FALL</a>
    <a class="nav-item" href="/ootd/winter">WINTER</a>
    <a class="nav-item" href="/ootd/spring">SPRING</a>
    <a class="nav-item" href="/ootd/summer">SUMMER</a>
     | <a class="nav-item" href="/ootd/new">ADD ITEM</a>
  </div>
  </div>
  <div class="content">

  </div>
</body>
