<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ./partials/header.ejs %>
</head>

<body>

  <h2 class="welcome">
    <% if (currentUser) { %>
        Hi <%=currentUser.username%>!

                <a class="collect-link" href="/ootd/collection">MY COLLECTION</a>

        <form action="/sessions?_method=DELETE" method="POST">
                <a class="welcome-item" href="#"><input class="navBtn" type="submit" value="LOG OUT"></a>
        </form>
  <%  } %>
  </h2>

  <div class="index-content">
    <% for (let i = 0; i < products.length; i++) { %>
    <div class="container">
      <a href="/ootd/<%=products[i].id%>">
        <img class="index-img" src="<%=products[i].img%>" alt="outfit">
      </a>
    </div>
    <% } %>
  </div>
  <footer>
    <% include ./partials/footer.ejs %>
  </footer>

  <% include ./partials/modal.ejs %>

</body>
