<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ./partials/header.ejs %>
</head>

<body>

  <div class="index-content">
    <% for (let i = 0; i < products.length; i++) { %>
    <div class="container">
      <%=products[i].name%><br/>
      <a href="/ootd/<%=products[i].id%>">
        <img class="index-img" src="<%=products[i].img%>" alt="outfit">
      </a>
    </div>
    <% } %>
  </div>
  <% include ./partials/footer.ejs %>
</body>
