<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ./partials/header.ejs %>
</head>

<body>

  <div class="welcome">
    <h2>
    <% if (currentUser) { %>
    Hi <%=currentUser.username%>!
  </h2>
    <a class="collect-link" href="/ootd/collection">MY COLLECTION</a>

    <form action="/sessions?_method=DELETE" method="POST">
      <a class="welcome-item" href="#"><input class="navBtn" type="submit" value="LOG OUT"></a>
    </form>
    <%  } %>
  </div>


  <div class="add-new">
    <h1>Add a New Product</h1>
    <form action="/ootd" method="POST">
      <div class="add-boxes">Name:<br /> <input type="text" name="name" /><br /></div>
      <div class="add-boxes">Brand:<br /> <input type="text" name="brand"><br /></div>
      <div class="add-boxes">Season:<br /> <input type="text" name="season" /><br /></div>
      <div class="add-boxes">Description:<br /> <input type="text" name="description" /><br /></div>
      <div class="add-boxes">Image:<br /> <input type="text" name="img" /><br /></div>
      <div class="add-boxes">Price:<br /> <input type="text" name="price" /><br /></div>
      <div class="add-boxes">Link:<br />
        <input type="text" name="link" /><br />
        <% if (currentUser) { %>
        <div>Add to Collection: <input type="checkbox" name="collect"><br /></div>
        <% } %>
        <input class="button" type="submit" value="Create New Item">
    </form>
  </div>
  </div>
  <footer>
    <% include ./partials/footer.ejs %>
  </footer>

  <% include ./partials/modal.ejs %>
</body>

</html>
