<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/app.css">
    <title></title>
  </head>
  <body>
    <div class="header">
      <h1 class="logo">OOTD</h1><a class="add-link" href="/ootd">Home</a>
    </div>
    <h1>Add a New Product</h1>
    <div class="add-new">
    <form action="/ootd" method="POST">
      <div class="add-boxes">Name: <input type="text" name="name"/><br/></div>
      <div class="add-boxes">Brand: <input type="text" name="brand"><br/></div>
      <div class="add-boxes">Season: <input type="text" name="season"/><br/></div>
      <div class="add-boxes">Description: <input type="text" name="description"/><br/></div>
      <div class="add-boxes">Image: <input type="text" name="img"/><br/></div>
      <div class="add-boxes">Price: <input type="text" name="price"/><br/></div>
      <div class="add-boxes">Link: <input type="text" name="link"/><br/>
      <input class="button" type="submit" value="Create New Item">
    </form>
  </div>
  </body>
</html>
