img {
  width: 70%;
  height: auto;
}

.showImg {
  width: 90%;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.logo {
  margin-left: 10%;
  color: white;
}

.add-link {
  margin-right: 10%;
  color: white;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.container {
  width: 400px;
  height: 490px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  background-color: white;
}

.show-container {
  width: 400px;
  height: auto;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
}

.edit-boxes, .add-boxes {
  padding: 10px;
}

input[type=text] {
  width: 90%;
}

.add-new, .edit {
  width: 40%;
  height: auto;
}

.item-box {
  text-align: center;
}

.button {
  background-color: grey;
  color: white;
  margin: 5px;
  border-radius: 5px;
}

.button:hover {
  background-color: black;
  color: white;
}

.deleteBtn {
  background-color: grey;
  color: white;
  margin: 5px;
  border-radius: 5px;
}

.deleteBtn:hover {
  background-color: red;
  color: white;
}

input {
  padding: 10px;
}
