body {
  font-family: 'Playfair Display', serif;
}

img {
  width: 70%;
  height: auto;
}

.footer-img {
  width: 10%;
  height: auto;
}

.footer-nav {
  padding: 5px;
  text-decoration: none;
  color: white;
}

.showImg {
  width: 70%;
  height: auto;
}

.show-img {
  height: auto;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
}

.item-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.item-info {
  width: 300px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 200px;
  font-family: 'Playfair Display', serif;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  background-color: black;
  font-family: 'Playfair Display', serif;
  color: white;
  text-decoration: none;
}

.navigation {
  background-color: white;
  padding: 93px 0 93px 0;
}

.logo {
  margin-left: 10%;
  color: white;
  font-size: 80px;
  font-weight: 50;
}

.add-link {
  margin-right: 10%;
  color: white;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.index-content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.container {
  width: 350px;
  height: 440px;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  background-color: white;
}

.show-container {
  width: 400px;
  height: auto;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
}

.edit-boxes, .add-boxes {
  padding: 10px;
}

input[type=text] {
  width: 90%;
}

.add-new, .edit {
  width: 40%;
  height: auto;
}

.item-box {
  text-align: center;
}

.button {
  background-color: grey;
  color: white;
  margin: 5px;
  border-radius: 5px;
}

.button:hover {
  background-color: black;
  color: white;
}

.deleteBtn {
  background-color: grey;
  color: white;
  margin: 5px;
  border-radius: 5px;
}

.deleteBtn:hover {
  background-color: red;
  color: white;
}

input {
  padding: 10px;
}

.navigation {
  position: right;
  display: inline-block;
  width: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  background-color: white;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  padding-right: 50px;
  align-items: center;
}

.dropdown-content a:hover {
  background-color: grey;
  padding-right: 50px;
  align-items: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: black;
  color: pink;
  font-weight: 600;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.nav-item {
  text-decoration: none;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
}
