<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <% include ../partials/routesheader.ejs %>

  </head>
  <body>

      <div class="container">
        <h1>Log In!</h1>
        <div class="login-form">
          <form action="/sessions" method="POST">

                <label for="username">User Name</label><br>
                <input placeholder="Placeholder" id="username" type="text" class="validate" name="username" required>
                <br>

                <label for="password">Password</label><br>
                <input id="password" type="password" class="validate" name="password" required><br>

            <button class="button" type="submit" name="action">Log In</button>

          </form>
        </div>

    </body>

</html>
